numpy==1.26.4
PyYAML==6.0.1
PyMuPDF==1.26.5 
python-docx==1.1.2
langchain==0.2.10
sentence-transformers==3.0.1
google-genai==1.43.0
chromadb==1.1.1
streamlit==1.50.0
docx2txt==0.9
protobuf==6.32.1
packaging==24.2
onnxruntime==1.20.1

